# Getting Started

Start by including the Versioned IDs library in your project. Here's an example of including it as a
Maven compile dependency:

```xml
<dependency>
    <groupId>${project.groupId}</groupId>
    <artifactId>${project.artifactId}</artifactId>
    <version>${project.version}</version>
</dependency>
```

Choose one of the 3 basic ID types depending upon the level of time-sensitivity in your domain model.

| You need: | Choose:  |
| -------- | -------- |
| categorical organization of IDs | [NamespaceId\<T\>](examples/namespaceid.html) |
| ...and storage of creation/effective time | [TemporalNamespaceId\<T\>](examples/temporalnamespaceid.html) |
| ...and storage of update/fixing time | [BiTemporalNamespaceId\<T\>](examples/bitemporalnamespaceid.html) |
