# Versioned IDs

Versioned IDs are namespace-aware identifier types that support simple value incrementation while storing a high degree
of information. They offer application developers an easy way to get started building complex, version-sensitive domain
models with strong IDs that are:

* Categorical
* Human-readble
* Incrementable
* Immutable
* Serializable
* Sortable
* Time-specific (to nanosecond)

## Getting Started

1. Start by including the Versioned IDs library in your project. Here's an example of including it as a Maven compile
dependency:

```xml
<dependency>
    <groupId>${project.groupId}</groupId>
    <artifactId>${project.artifactId}</artifactId>
    <version>${project.version}</version>
</dependency>
```

2. Choose one of the 3 basic ID types depending upon the level of time-sensitivity in your domain model.

| You need: | Choose:  |
| -------- | -------- |
| categorical organization of IDs | [NamespaceId\<T\>](examples.html#Using_NamespaceId) |
| ...and storage of creation/effective time | [TemporalNamespaceId\<T\>](examples.html#Using_TemporalNamespaceId) |
| ...and storage of update/fixing time | [BiTemporalNamespaceId\<T\>](examples.html#Using_BiTemporalNamespaceId) |

3. Does the type you selected store enough information, or do you need a bit more richness? The classes in this library
support extension and composition!
